.boton-compra {
    min-width: 130px;
    height: 40px;
    width: 250px;
    color: #fff;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: white;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .boton-compra:hover {
    opacity: 80%;
    color: #3f3f40;
  }
  .boton-compra:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 2px;
    left: 2px;
    transition: 0.2s;
    background-color: #000;
 
  }
  .texto-boton{
    text-align: left;
    font-size: 20px;
  }
